
    
    
    <div id="all">
        <div class="form-signin">
            <h2 class="form-signin-heading" ng-if="currentUser">{{currentUser.email}}</h2>
            <input ng-model="newUser.email" type="email" class="form-control" placeholder="Email address" >
            <input ng-model="newUser.password" type="password" class="form-control" placeholder="Password">
            <button ng-click="login(newUser.email, newUser.password)" class="btn btn-lg btn-default btn-block">Login</button>
            
        </div>
        </div>
        </div>

    </div>
    



        

